

	.ui-panel {
		-webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
		-moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
		box-shadow: 5px 0 5px rgba(0,0,0,.15);
		background-color: rgba(0,0,0,.85);
		top: 44;
	}
	
	#historyGraphBtn .ui-btn{
		padding: .7em .8em;
	}
			

ul.list_viewer{ margin-top: 20px; margin-left: 2%; margin-right: 2%; margin-bottom:20px;}
li.list_container {background: #f3f3f3; font-family: Helvetica;}
li.list_container .max-width {max-width:300px; margin: auto;}
li.list_container .max-width h3{line-height: 1.3em; font-size: 20px; color: #4D4D4D; text-align: center;}

#spending_now_container{max-width:300px; height: 130px; margin: 10px auto; position:relative;}
#spending_now_container img { top:15; left:10; width:55px; height:120px; position: absolute;}
#spending_now_container span { letter-spacing: 0; color:#66aad7; font-size: 2.7em; position:absolute; top:35; left:90; font-weight: bolder;}

#spend_so_far_today {max-width:300px; margin: auto;  font-family: Helvetica; color: #4D4D4D;}
#spend_so_far_today h3{line-height: 1.3em; font-size: 20px; text-align: left;}
#spend_so_far_today h4{line-height: 1.5em; font-size: 40px; text-align: right;}

.row_container{width: 100%; margin:auto; max-width:400px;}
.half_row_contaier{float:left; width:50%}
.clear_float{clear:both}

p.darker_text{font-size: 1.0em !important; font-weight: 900 !important; white-space:normal !important; margin:0 2% 0 2% !important; color: #4D4D4D;}
p.lighter_text{font-size: 1.0em !important; font-weight: 500 !important; white-space:normal !important; margin:0 2% 0 2% !important; color: #A4A4A4;}
.large_blue{color:#0080FF; font-size: 1.3em; font-weight: 900;}
.large_green{color:#088A08; font-size: 1.6em; line-height: 1.9em; font-weight: 900;}


.progress{
height: 20px;
max-width: 500px;
margin: 7px auto;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-success {
background-color: #5cb85c;
}

.progress-bar-info {
background-color: #5bc0de;
}

.progress-bar-warning {
background-color: #f0ad4e;
}

.progress-bar-danger {
background-color: #d9534f;
}

.progress-bar {
float: left;
width: 0;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
/*background-color: #428bca;*/
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
-webkit-transition: width .6s ease;
-o-transition: width .6s ease;
transition: width .6s ease;
}


/*.drop_down{
	background-color: #D6D6D6 !important;
	color: #828282 !important;
}*/

.ui-panel{
	width: 12em !important;
}
.ui-panel-inner {
    padding: 0em !important;
}

.accordion {
  width: 100%;
  max-width: 12em !important;
  /*margin: 30px auto 0px;*/
  background: #FFF;
  padding: 0
}

.accordion {padding: 0; margin: 0}

.accordion li, .submenu li {list-style: none}

.accordion li a, .submenu li a {text-decoration: none}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 35px;
  color: #4D4D4D;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

/*.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }*/

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
  background-color: #d6d6d6 !important;
  padding-left: 10px;
  margin:0;
}

.submenu li { border-bottom: 1px solid #f0f0f0; position:relative; }

.accordion li i {
  position: absolute;
  top: 14px;
  left: 12px;
  font-size: 18px;
  color: #828282 !important;
}


.submenu {padding: 0; margin: 0}


.submenu a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #828282 !important;
  padding: 12px;
  padding-left: 50px;

}